@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 5000px;
    background-color: rgb(241, 241, 241);
}

.banner {
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to left, #4396ce, #0e5f96);
    position: relative;
}

.box-banner {
    width: 50%;
    height: 600px;
}

.box-banner h1 {
    font-size: 50px;
    font-family: 'Sigmar', cursive;
    padding-top: 180px;
    padding-left: 100px;
    color: white;
    cursor: context-menu;
}

.box-banner p {
    font-size: 15px;
    font-weight: 500;
    color: white;
    padding-top: 20px;
    padding-left: 100px;
    cursor: context-menu;
}

.btn-jogar {
    padding-top: 30px;
    padding-left: 100px;
}

.btn-jogar a {
    padding: 10px 15px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    background-color: #339be0;
    transition: 0.4s;
    border-radius: 5px;
    border: 2px solid #ffffff33;
    position: relative;
}

.btn-jogar a:hover {
    background-color: #0e5f96;
}

/*-==================-*/

.dsn {
    position: absolute;
    bottom: 150px;
    right: 150px;
    animation: flutuando 3s infinite alternate-reverse;
}

.dsn img {
    width: 250px;
}

@keyframes flutuando {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(5px);
    }
}

/*-==============-*/

.redes {
    position: absolute;
    top: 210px;
    left: 0px;
}

.redes a {
    width: 25px;
    text-decoration: none;
}

.redes li {
    margin: 20px 10px;
    list-style-type: none;
}

.redes img {
    width: 25px;
}